body {
	font-family: 'Open Sans', sans-serif;
	color: #47b8e0;
	background: #34314c;
}

.error {
	display:none;
	background-color: #ff7473;
	color: #fff;
	height: 80px;
}

.overlay {
	display: none;
	background-color: #9055A2;
	color: #D499B9;
	font-size: 100px;
	text-align: center;
	height: 800px;
}

.container {
	margin: 0 auto;
	width: 600px;
	padding: 100px
}

tr {
	height: 40px;
	width: 600px;
}

#jour {
	border: 2px solid #47b8e0;
	background-color: transparent;
	color: #47b8e0;
	padding: 10px;
	width: 200px;
}

#mois {
	border: 2px solid #47b8e0;
	background-color: transparent;
	color: #47b8e0;
	padding: 10px;
	width: 200px;
}

#annee {
	border: 2px solid #47b8e0;
	background-color: transparent;
	color: #47b8e0;
	padding: 10px;
	width: 200px;
}

.centrer {
	text-align: center;

}

#bouton {
	border: 2px solid #47b8e0;
	background-color: transparent;
	color: #47b8e0;
	padding: 10px;
	width: 200px;
}